c3.php
composer.lock
coverage

node_modules

public/_assets
public/fileadmin
public/typo3
public/typo3conf
public/typo3temp
public/app.php
public/index.php

Tests/Acceptance/_output
Tests/Acceptance/Support/_generated

var
vendor
