parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type string supplied for foreach, only iterables are supported\\.$#"
			count: 3
			path: Tests/Functional/Utility/LogParserUtilityTest.php
