.tab-header {
    padding: 10px 20px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.infobox[data-message-count="0"] {
    display: block !important;
}

#delete-all-messages {
    margin-top: 30px;
}
